:host {
  .task__link {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    background-color: #27242f;
    padding: 25px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
}
