:host {
  grid-template-columns: 300px 900px;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  /* gap: 30px; */

  .content {
    &__title {
      font-size: 30px;
      padding: 25px;
      background-color: #27242f;
    }

    &__body {
      padding: 30px;
    }
  }
}
