:host {
  display: flex;
  flex-direction: column;
  background-color: #27242f;
  padding: 25px;
  border-right: 1px solid #ffffffd2;
  min-height: 500px;

  .tasks-board {
    &__title {
      font-size: 30px;
      margin-bottom: 25px;
    }

    &__link {
      padding: 10px;
      border-radius: 10px;
    }
  }

  .active {
    background-color: #6500bd;
  }
}
