<div class="wrapper">
  <div class="wrapper__tasks">
    @if (tasks.length > 0) {
    <div class="wrapper__tasks--header">
      <h4 class="wrapper__tasks--title">TASKS</h4>
      <button
        class="wrapper__tasks--btn wrapper__tasks--check"
        (click)="onCheckActivation()"
        [matTooltip]="titleCheckTooltip"
      >
        <img src="{{ 'assets/icon/icon-check.png' }}" alt="icon-check" />
      </button>
      @if (isShowLitterIcon) {
      <button
        class="wrapper__tasks--btn wrapper__tasks--litter"
        (click)="onDeleteByLitter()"
        [matTooltip]="'Удалить'"
      >
        <img src="{{ 'assets/icon/icon-litter.png' }}" alt="icon-litter" />
      </button>
      }
    </div>
    @for (task of tasks; track task; let index = $index) { 
      @if (isShowCheckbox) {
    <mat-checkbox
      (change)="onSendSelectedById(task.id)"
      [checked]="selectedId.includes(task.id)"
    ></mat-checkbox>
    }
    <app-task
      [id]="task.id"
      [count]="tasks.length"
      [title]="task.text"
      [titleTooltip]="'Открыть настройки'"
      [routerLink]="['/backlog', task.id]"
      routerLinkActive="active"
    >
    </app-task>
    }} @else {
    <div>Вы не добавили заметки</div>
    <a class="wrapper__task--goCreateTaskLink" routerLink="/createTask"
      >Перейти в раздел создание заметки</a
    >
    }
  </div>
  <div class="wrapper__settings">
    <router-outlet></router-outlet>
  </div>
</div>
